<!DOCTYPE html>
<html lang="<%= req.cookies[sails.config.i18n.cookie] || sails.config.i18n.defaultLocale %>">
  <head>
    <title><%- title %></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>    
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>    

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>



  <body>

  <%- body %>

  </body>
</html>
