

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/analyseseau/"/>
</div>


<!-- Tab panes -->
<div class="tab-content" id="reportContainer">
	<div>
	  <iframe src="" frameborder="0" class="report" data-report="report"></iframe>
	  <iframe src="" frameborder="0" class="report" data-report="GraphiqueAnalyseEauSmallRange"></iframe>		
	</div>
	<div>
	  <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueAnalyseEauMediumRange"></iframe>				
	  <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueAnalyseEauWideRange"></iframe>		
	  <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueAnalyseEauVeryWideRange"></iframe>		
	</div>
</div>



