

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/analyseseau/"/>
</div>


<!-- Tab panes -->
<div class="tab-content" id="reportContainer">
  <iframe src="" frameborder="0" style="width: 90%;" class="report" data-report="report"></iframe>
</div>



