

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/chaudieres/"/>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a href="#utilites" role="tab" data-toggle="tab">
      Utilités
    </a>
  </li>
  <li>
    <a href="#joy" role="tab" data-toggle="tab">
      JOY en fonction
    </a>
  </li>
  <li>
    <a href="#systemeair" role="tab" data-toggle="tab">
      Système d'air
    </a>
  </li>
  <li>
    <a href="#eaubrute" role="tab" data-toggle="tab">
      Eau brute
    </a>
  </li>
  <li>
    <a href="#eaujoy" role="tab" data-toggle="tab">
      Eau refroidissement JOY
    </a>
  </li>
  <li>
    <a href="#produitchimique" role="tab" data-toggle="tab">
      Produit Chimique / Chaudière
    </a>
  </li>
  <li>
    <a href="#tourrefroidissement" role="tab" data-toggle="tab">
      Tour de refroidissement   
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">
  <div class="tab-pane active" id="utilites">
    <iframe src="" frameborder="0" class="report" data-report="utilites"></iframe>
  </div>
  <div class="tab-pane" id="joy">
    <iframe src="" frameborder="0" class="report" data-report="joy"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquejoy"></iframe>
  </div>
  <div class="tab-pane" id="systemeair">
    <iframe src="" frameborder="0" class="report" data-report="systemeair"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquesystemeair"></iframe>
  </div>
  <div class="tab-pane" id="eaubrute">
    <iframe src="" frameborder="0" class="report" data-report="eaubrute"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiqueeaubrute"></iframe>
  </div>
  <div class="tab-pane" id="eaujoy">
    <iframe src="" frameborder="0" class="report" data-report="eaujoy"></iframe>
  </div>
  <div class="tab-pane" id="produitchimique">
    <iframe src="" frameborder="0" class="report" data-report="produitchimique"></iframe>
  </div>
  <div class="tab-pane" id="tourrefroidissement">
    <iframe src="" frameborder="0" class="report" data-report="tourrefroidissement"></iframe>
  </div>
</div>

