

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/classeurhuile/"/>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a href="#bird" role="tab" data-toggle="tab">
      Bird
    </a>
  </li>
  <li>
    <a href="#apv" role="tab" data-toggle="tab">
      APV
    </a>
  </li>
  <li>
    <a href="#becristallisation" role="tab" data-toggle="tab">
      B.E. Cristallisation
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">
  <div class="tab-pane active" id="bird">
    <iframe src="" frameborder="0" class="report" data-report="bird"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="bird6Months"></iframe>
  </div>
  <div class="tab-pane" id="apv">
    <iframe src="" frameborder="0" class="report" data-report="apv"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="apv6Months"></iframe>
  </div>
  <div class="tab-pane" id="becristallisation">
    <iframe src="" frameborder="0" class="report" data-report="becristallisation"></iframe>
  </div>
</div>

