

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/cristallisation/"/>
	<input type="hidden" id="report" value="cristallisation"/>
</div>




<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
  	<a href="#stage1train1" role="tab" data-toggle="tab">Stage 1 Train 1</a>
  </li>
  <li>
  	<a href="#stage2train1" role="tab" data-toggle="tab">Stage 2 Train 1</a>
  </li>			  
  <li>
  	<a href="#stage1train2" role="tab" data-toggle="tab">Stage 1 Train 2</a>
  </li>
  <li>
  	<a href="#stage2train2" role="tab" data-toggle="tab">Stage 2 Train 2 </a>
  </li>
  <li>
  	<a href="#stage1train3" role="tab" data-toggle="tab">Stage 1 Train 3</a>
  </li>
  <li>
  	<a href="#stage2train3" role="tab" data-toggle="tab">Stage 2 Train 3</a>
  </li>
  <li>
  	<a href="#stage4" role="tab" data-toggle="tab">Stage 4</a>
  </li>
  <li>
    <a href="#stage3" role="tab" data-toggle="tab">Stage 3</a>
  </li>
  <li>
    <a href="#others" role="tab" data-toggle="tab">Autres</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">

  <!-- STAGE 1 TRAIN 1 -->
  <div class="tab-pane active" id="stage1train1">
    <iframe src="" frameborder="0" class="report" data-report="stage1train1"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquestage1train1"></iframe>
  </div>


  <!-- STAGE 2 TRAIN 1 -->
  <div class="tab-pane" id="stage2train1">
    <div>
      <iframe src="" frameborder="0" style="height: 175px;" class="report" data-report="stage2train1"></iframe>      
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueStage2Train1SmallRange"></iframe>    
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueStage2Train1WideRange"></iframe>    
    </div>
  </div>


  <!-- STAGE 1 TRAIN 2 -->
  <div class="tab-pane" id="stage1train2">
    <iframe src="" frameborder="0" class="report" data-report="stage1train2"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquestage1train2"></iframe>
  </div>


  <!-- STAGE 2 TRAIN 2 -->
  <div class="tab-pane" id="stage2train2">
    <div>
      <iframe src="" frameborder="0" style="height: 175px;" class="report" data-report="stage2train2"></iframe>    
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueStage2Train2SmallRange"></iframe>    
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueStage2Train2WideRange"></iframe>    
    </div>
  </div>


  <!-- STAGE 1 TRAIN 3 -->
  <div class="tab-pane" id="stage1train3">
    <iframe src="" frameborder="0" class="report" data-report="stage1train3"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquestage1train3"></iframe>
  </div>

  <!-- STAGE 2 TRAIN 3 -->
  <div class="tab-pane" id="stage2train3">
    <div>
      <iframe src="" frameborder="0" style="height: 175px;" class="report" data-report="stage2train3"></iframe>    
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueStage2Train3SmallRange"></iframe>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueStage2Train3WideRange"></iframe>
    </div>
  </div>



  <div class="tab-pane" id="stage4">
    <iframe src="" frameborder="0" class="report" data-report="stage4"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquestage4"></iframe>
  </div>
  <div class="tab-pane" id="stage3">
    <iframe src="" frameborder="0" class="report" data-report="stage3"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquestage3"></iframe>
  </div>


  <div class="tab-pane" id="others">
    <iframe src="" frameborder="0" class="report" data-report="others"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="GraphiqueOthers"></iframe>
  </div>
</div>



