

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/cristallisation/"/>
	<input type="hidden" id="report" value="cristallisation"/>
</div>




<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
  	<a href="#stage1train1" role="tab" data-toggle="tab">Stage 1 Train 1</a>
  </li>
  <li>
  	<a href="#stage2train1" role="tab" data-toggle="tab">Stage 2 Train 1</a>
  </li>			  
  <li>
  	<a href="#stage1train2" role="tab" data-toggle="tab">Stage 1 Train 2</a>
  </li>
  <li>
  	<a href="#stage2train2" role="tab" data-toggle="tab">Stage 2 Train 2 </a>
  </li>
  <li>
  	<a href="#stage1train3" role="tab" data-toggle="tab">Stage 1 Train 3</a>
  </li>
  <li>
  	<a href="#stage2train3" role="tab" data-toggle="tab">Stage 2 Train 3</a>
  </li>
  <li>
  	<a href="#stage4" role="tab" data-toggle="tab">Stage 4</a>
  </li>
  <li>
    <a href="#stage3" role="tab" data-toggle="tab">Stage 3</a>
  </li>
  <li>
    <a href="#others" role="tab" data-toggle="tab">Autres</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">
  <div class="tab-pane active" id="stage1train1">
		<iframe src="" frameborder="0" class="report" data-report="stage1train1"></iframe>
  </div>
  <div class="tab-pane" id="stage2train1">
		<iframe src="" frameborder="0" class="report" data-report="stage2train1"></iframe>
  </div>
  <div class="tab-pane" id="stage1train2">
		<iframe src="" frameborder="0" class="report" data-report="stage1train2"></iframe>
  </div>
  <div class="tab-pane" id="stage2train2">
		<iframe src="" frameborder="0" class="report" data-report="stage2train2"></iframe>
  </div>
  <div class="tab-pane" id="stage1train3">
		<iframe src="" frameborder="0" class="report" data-report="stage1train3"></iframe>
  </div>
  <div class="tab-pane" id="stage2train3">
		<iframe src="" frameborder="0" class="report" data-report="stage2train3"></iframe>
  </div>
  <div class="tab-pane" id="stage4">
		<iframe src="" frameborder="0" class="report" data-report="stage4"></iframe>
  </div>
  <div class="tab-pane" id="stage3">
    <iframe src="" frameborder="0" class="report" data-report="stage3"></iframe>
  </div>
  <div class="tab-pane" id="others">
    <iframe src="" frameborder="0" class="report" data-report="others"></iframe>
  </div>
</div>



