

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/secteurhydrogene/"/>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a href="#testslaboratoire" role="tab" data-toggle="tab">
      Tests laboratoire et Nalco 1803
    </a>
  </li>

  <li>
    <a href="#fourh1" role="tab" data-toggle="tab">
      Four H-1
    </a>
  </li>

  <li>
    <a href="#v1r1  " role="tab" data-toggle="tab">
      V-1 et V-10, R-3 R-1 R-1-A R-2 
    </a>
  </li>

  <li>
    <a href="#systemeamine  " role="tab" data-toggle="tab">
      Système d'amine 
    </a>
  </li>

  <li>
    <a href="#compresseurc1c  " role="tab" data-toggle="tab">
      C-1-C 
    </a>
  </li>

  <li>
    <a href="#compresseurc1d  " role="tab" data-toggle="tab">
      C-1-D 
    </a>
  </li>

  <li>
    <a href="#tracagetoluene  " role="tab" data-toggle="tab">
      Traçage et Toluène 
    </a>
  </li>

</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">

  <!-- TESTS LABORATOIRES -->
  <div class="tab-pane active" id="testslaboratoire">
    <div>
      <iframe src="" frameborder="0" style="height: 230px;" class="report" data-report="testslaboratoire"></iframe>    
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueTestsLaboratoireSmallRange"></iframe>    
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueTestsLaboratoireWideRange"></iframe>    
    </div>
  </div>

  <!-- FOUR H1 -->
  <div class="tab-pane" id="fourh1">
    <div>
      <iframe src="" frameborder="0" style="height: 230px;" class="report" data-report="fourh1"></iframe>    
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueFourh1SmallRange"></iframe>    
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueFourh1WideRange"></iframe>    
    </div>
  </div>



  <!-- V1R1 etc -->
  <div class="tab-pane" id="v1r1">
    <div>
      <iframe src="" frameborder="0" style="height: 265px;" class="report" data-report="v1r1"></iframe>      
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueV1SmallRange"></iframe>    
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueV1WideRange"></iframe>          
    </div>
  </div>



  <!-- SYSTEME AMINE -->
  <div class="tab-pane" id="systemeamine">
    <div>
      <iframe src="" frameborder="0" style="height: 185px;" class="report" data-report="systemeamine"></iframe>    
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueSystemeAmineSmallRange"></iframe>      
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueSystemeAmineWideRange"></iframe>      
    </div>
  </div>



  <!-- C1C -->
  <div class="tab-pane" id="compresseurc1c">
    <div>
      <iframe src="" frameborder="0" style="height: 375px;" class="report" data-report="compresseurc1c"></iframe>    
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurC1CSmallRange"></iframe>      
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurC1CWideRange"></iframe>            
    </div>
  </div>


  <!-- C1D -->
  <div class="tab-pane" id="compresseurc1d">
    <div>
      <iframe src="" frameborder="0" style="height: 375px;" class="report" data-report="compresseurc1d"></iframe>    
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurC1DSmallRange"></iframe>      
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurC1DWideRange"></iframe>            
    </div>
  </div>

  <div class="tab-pane" id="tracagetoluene">
    <iframe src="" frameborder="0" class="report" data-report="tracagetoluene"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquetracagetoluene"></iframe>
  </div>
</div>



