

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/pompesincendie/"/>
</div>

<script type="text/javascript">
  document.getElementById('reportIformations').style = 'display: none;';
</script>



<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a href="#waukesha" role="tab" data-toggle="tab">
    Waukesha
    </a>
  </li>

  <li>
    <a href="#cummings" role="tab" data-toggle="tab">
      Cummings
    </a>
  </li>

  <li>
    <a href="#caterpillar  " role="tab" data-toggle="tab">
      Caterpillar
    </a>
  </li>

  <li>
    <a href="#turbine  " role="tab" data-toggle="tab">
      Turbine
    </a>
  </li>

  <li>
    <a href="#sallepompesincendie  " role="tab" data-toggle="tab">
      Salle pompes incendie
    </a>
  </li>

  <li>
    <a href="#sallepompesrefroid  " role="tab" data-toggle="tab">
      Salle pompes refroid
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">
  <div class="tab-pane active" id="waukesha">
    <iframe src="" frameborder="0" style="width: 90%;" class="report" data-report="waukesha"></iframe>
  </div>
  <div class="tab-pane" id="cummings">
    <iframe src="" frameborder="0" style="width: 90%;" class="report" data-report="cummings"></iframe>
  </div>
  <div class="tab-pane" id="caterpillar">
    <iframe src="" frameborder="0" style="width: 90%;" class="report" data-report="caterpillar"></iframe>
  </div>
  <div class="tab-pane" id="turbine">
    <iframe src="" frameborder="0" style="width: 90%;" class="report" data-report="turbine"></iframe>
  </div>
  <div class="tab-pane" id="sallepompesincendie">
    <iframe src="" frameborder="0" style="width: 90%;" class="report" data-report="sallepompesincendie"></iframe>
  </div>
  <div class="tab-pane" id="sallepompesrefroid">
    <iframe src="" frameborder="0" style="width: 90%;" class="report" data-report="sallepompesrefroid"></iframe>
  </div>
</div>



