

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/stdp/"/>
	<input type="hidden" id="report" value="stdp"/>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
  	<a href="#compresseurpropane" role="tab" data-toggle="tab">
  		C-1301 Compresseur de propane
  	</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">
  <div class="tab-pane active" id="compresseurpropane">
		<iframe src="" frameborder="0" class="report" data-report="compresseurpropane"></iframe>
  </div>
</div>

