

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/stdp/"/>
	<input type="hidden" id="report" value="stdp"/>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a href="#compresseurpropane" role="tab" data-toggle="tab">
      C-1301
    </a>
  </li>
  <li>
    <a href="#compresseurethylene" role="tab" data-toggle="tab">
      C-1300  
    </a>
  </li>
  <li>
    <a href="#compresseurhydrogene" role="tab" data-toggle="tab">
      C-200   
    </a>
  </li>
  <li>
    <a href="#compresseurappoint" role="tab" data-toggle="tab">
      C-1201   
    </a>
  </li>
  <li>
    <a href="#distillationisomerisation" role="tab" data-toggle="tab">
      Distillation isomérisation  
    </a>
  </li>
  <li>
    <a href="#traiteurargile" role="tab" data-toggle="tab">
      Traiteur d'argile Sécheur xylène  
    </a>
  </li>
  <li>
    <a href="#compresseurstdp" role="tab" data-toggle="tab">
      Compresseur STDP  
    </a>
  </li>
  <li>
    <a href="#stdp" role="tab" data-toggle="tab">
      STDP  
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">
  <div class="tab-pane active" id="compresseurpropane">
    <iframe src="" frameborder="0" class="report" data-report="compresseurpropane"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquecompresseurpropane"></iframe>
  </div>
  <div class="tab-pane" id="compresseurethylene">
    <iframe src="" frameborder="0" class="report" data-report="compresseurethylene"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquecompresseurethylene"></iframe>
  </div>
  <div class="tab-pane" id="compresseurhydrogene">
    <iframe src="" frameborder="0" class="report" data-report="compresseurhydrogene"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquecompresseurhydrogene"></iframe>
  </div>
  <div class="tab-pane" id="compresseurappoint">
    <iframe src="" frameborder="0" class="report" data-report="compresseurappoint"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquecompresseurappoint"></iframe>
  </div>
  <div class="tab-pane" id="distillationisomerisation">
    <iframe src="" frameborder="0" class="report" data-report="distillationisomerisation"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquedistillationisomerisation"></iframe>
  </div>
  <div class="tab-pane" id="traiteurargile">
    <iframe src="" frameborder="0" class="report" data-report="traiteurargile"></iframe>
  </div>
  <div class="tab-pane" id="compresseurstdp">
    <iframe src="" frameborder="0" class="report" data-report="compresseurstdp"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="graphiquecompresseurstdp"></iframe>
  </div>
  <div class="tab-pane" id="stdp">
    <iframe src="" frameborder="0" class="report" data-report="stdp"></iframe>
  </div>
</div>

