

<div class="hidden">
	<input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
	<input type="hidden" id="folder" value="/readings/stdp/"/>
	<input type="hidden" id="report" value="stdp"/>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a href="#compresseurpropane" role="tab" data-toggle="tab">
      C-1301
    </a>
  </li>
  <li>
    <a href="#compresseurethylene" role="tab" data-toggle="tab">
      C-1300  
    </a>
  </li>
  <li>
    <a href="#compresseurhydrogene" role="tab" data-toggle="tab">
      C-200   
    </a>
  </li>
  <li>
    <a href="#compresseurappoint" role="tab" data-toggle="tab">
      C-1201   
    </a>
  </li>
  <li>
    <a href="#distillationisomerisation" role="tab" data-toggle="tab">
      Distillation isomérisation  
    </a>
  </li>
  <li>
    <a href="#traiteurargile" role="tab" data-toggle="tab">
      Traiteur d'argile Sécheur xylène  
    </a>
  </li>
  <li>
    <a href="#compresseurstdp" role="tab" data-toggle="tab">
      Compresseur STDP  
    </a>
  </li>
  <li>
    <a href="#stdp" role="tab" data-toggle="tab">
      STDP  
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">


  <!-- COMPRESSEUR PROPANE C-1301 -->
  <div class="tab-pane active" id="compresseurpropane">
    <div>
      <iframe src="" frameborder="0" style="height: 370px;" class="report" data-report="compresseurpropane"></iframe>    
    </div>
    <div>      
      <iframe src="" frameborder="0" class="report graph" data-report="graphiquecompresseurpropanewiderange"></iframe>
      <iframe src="" frameborder="0" class="report graph" data-report="graphiquecompresseurpropanesmallrange"></iframe>
    </div>
  </div>



  <!-- COMPRESSEUR ETHYLENE C-1300 -->
  <div class="tab-pane" id="compresseurethylene">
    <div>
      <iframe src="" frameborder="0" style="height: 330px;" class="report" data-report="compresseurethylene"></iframe>      
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurEthyleneSmallRange"></iframe>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurEthyleneWideRange"></iframe>
    </div>
  </div>




  <!-- COMPRESSEUR HYDROGENE C-200 -->
  <div class="tab-pane" id="compresseurhydrogene">
    <div>
      <iframe src="" frameborder="0" style="height: 525px;" class="report" data-report="compresseurhydrogene"></iframe>    
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurHydrogeneSmallRange"></iframe>      
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurHydrogeneWideRange"></iframe>      
    </div>
  </div>



  <!-- COMPRESSEUR APPOINT -->
  <div class="tab-pane" id="compresseurappoint">
    <iframe src="" frameborder="0" class="report" data-report="compresseurappoint"></iframe>    
    <iframe src="" frameborder="0" class="report" data-report="GraphiqueCompresseurAppoint"></iframe>
  </div>


  <!-- ISOMERISATION -->
  <div class="tab-pane" id="distillationisomerisation">
      <iframe src="" frameborder="0" class="report" data-report="distillationisomerisation"></iframe>    
      <iframe src="" frameborder="0" class="report" data-report="GraphiqueDistillationIsomerisation"></iframe>    
  </div>


  <!-- TRAITEUR ARGILE -->
  <div class="tab-pane" id="traiteurargile">
    <iframe src="" frameborder="0" class="report" data-report="traiteurargile"></iframe>
    <iframe src="" frameborder="0" class="report" data-report="GraphiqueTraiteurArgile"></iframe>
  </div>



  <!-- COMPRESSEUR STDP -->
  <div class="tab-pane" id="compresseurstdp">
    <div>
      <iframe src="" frameborder="0" style="height: 315px;" class="report" data-report="compresseurstdp"></iframe>    
    </div>
    <div>
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurSTDPSmallRange"></iframe>    
      <iframe src="" frameborder="0" class="report graph" data-report="GraphiqueCompresseurSTDPWideRange"></iframe>    
    </div>
  </div>




  <div class="tab-pane" id="stdp">
    <iframe src="" frameborder="0" class="report" data-report="stdp"></iframe>
  </div>
</div>

