

<div class="hidden">
  <input type="hidden" id="server" value="http://paradevsrv02/reportserver"/>
  <input type="hidden" id="folder" value="/readings/verificationsquotidiennes/"/>
  <!-- <input type="hidden" id="report" value="cristallisation"/> -->
</div>




<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active">
    <a href="#rdt" role="tab" data-toggle="tab">Reseau de Torche</a>
  </li>
  <li class="">
    <a href="#sphere" role="tab" data-toggle="tab">Sphere</a>
  </li>
  <li class="">
    <a href="#tde" role="tab" data-toggle="tab">Traitements des eaux</a>
  </li>
  <li class="">
    <a href="#hydrant" role="tab" data-toggle="tab">Hydrant</a>
  </li>
  <li class="">
    <a href="#gaz" role="tab" data-toggle="tab">Gaz combustible</a>
  </li>
  <li class="">
    <a href="#quai" role="tab" data-toggle="tab">Quai</a>
  </li>
  <li class="">
    <a href="#tvapeur" role="tab" data-toggle="tab">Temp. Vapeur et reservoirs</a>
  </li>
  <li class="">
    <a href="#melangeur" role="tab" data-toggle="tab">Melangeur</a>
  </li>
  <li class="">
    <a href="#jauge" role="tab" data-toggle="tab">Jauge</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="reportContainer">

  <!-- RDT -->
  <div class="tab-pane active" id="rdt">
    <div>
      <iframe src="" frameborder="0" style="" class="report" data-report="rdt"></iframe>
      <iframe src="" frameborder="0" style="" class="report graph" data-report="rdtgraphique"></iframe>
    </div>
  </div>

  <!-- Sphere -->
  <div class="tab-pane" id="sphere">
    <div>
      <iframe src="" frameborder="0" style="" class="report" data-report="sphere"></iframe>
    </div>
  </div>

  <!-- TDE -->
  <div class="tab-pane" id="tde">
    <div>
      <iframe src="" frameborder="0" style="" class="report" data-report="tde"></iframe>
    </div>
  </div>

  <!-- Hydrant -->
  <div class="tab-pane" id="hydrant">
    <div>
      <iframe src="" frameborder="0" style="" class="report" data-report="hydrant"></iframe>
    </div>
  </div>

  <!-- GAZ -->
  <div class="tab-pane" id="gaz">
    <div>
      <iframe src="" frameborder="0" style="" class="report" data-report="gaz"></iframe>
      <iframe src="" frameborder="0" style="" class="report graph" data-report="gazgraphique"></iframe>
    </div>
  </div>

  <!-- QUAI -->
  <div class="tab-pane" id="quai">
    <div>
      <iframe src="" frameborder="0" style="" class="report" data-report="quai"></iframe>
      <iframe src="" frameborder="0" style="" class="report graph" data-report="quaigraphique"></iframe>
    </div>
  </div>

  <!-- TVapeur -->
  <div class="tab-pane" id="tvapeur">
    <div>
      <iframe src="" frameborder="0" style="width: 33%;" class="report" data-report="tvapeur"></iframe>
      <iframe src="" frameborder="0" style="width: 33%;" class="report" data-report="tdebit"></iframe>
      <iframe src="" frameborder="0" style="width: 33%;" class="report" data-report="treservoir"></iframe>
    </div>
  </div>

  <!-- Melangeur -->
  <div class="tab-pane" id="melangeur">
    <div>
      <iframe src="" frameborder="0" class="report" data-report="melangeur"></iframe>
    </div>
  </div>

  <!-- Jauge -->
  <div class="tab-pane" id="jauge">
    <div>
      <iframe src="" frameborder="0" style="width: 33%;" class="report" data-report="jaugeniveau"></iframe>
      <iframe src="" frameborder="0" style="width: 33%;" class="report" data-report="jaugetemp"></iframe>
      <iframe src="" frameborder="0" style="width: 33%;" class="report" data-report="jaugeheure"></iframe>
    </div>
  </div>

</div>

