html,
body {
	height: 100%;
}

/*#wrap {
	padding-top: 50px;
	padding-bottom: 50px;

}
*/
.footer {
	border-top: 1px solid black;
	padding-top: 20px;
	text-align: center;
}

.report {
	width: 45%;
	height: 500px;
}

#reportDatepickerContainer {
	margin-bottom: 25px;
}

#reportContainer iframe {
	/*box-shadow: 5px 5px 4px #888;*/
}

#reportContainer .tab-pane {
	padding-top: 10px;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #E51400 !important;
}

.report-informations {
	height: 100px;
	width: 100%;
}