<h1><%= __('Welcome') %></h1>


<ul>
  <li>
    <a href="/home/switchlang?lang=fr&url=<%= encodeURIComponent(req.originalUrl) %>">Français</a>
  </li>    
  <li>
    <a href="/home/switchlang?lang=en&url=<%= encodeURIComponent(req.originalUrl) %>">English</a>
  </li>
</ul>