<div class="container metro">
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <br/>
    <a href="http://metroui.org.ua/" target="_blank">documentation</a>
    <br/>
    <a href="javascript:;" data-target="#ModalView" data-toggle="modal">modal</a>





    <!--
    <div class="input-control text" data-role="datepicker" data-locale='en | fr | ua | ru' data-date="2013-01-01" data-format="yyyy-mm-dd" data-position="top|bottom" data-effect="none|slide|fade">
      <input type="text">
      <button class="btn-date"></button>
    </div>
    -->
     

    <!--
    <div class="input-control text" id="datepicker">
      <input type="text">
      <button class="btn-date"></button>
    </div>
    -->


    </div>



  </div>
</div>
</div>


<%- partial('./partials/modal.view.ejs') %>


<script type="text/javascript">
window.addEventListener('load', function () {


  socket.get('/test/schema', { model: 'User' }, function (response) {
    console.log(response);
  })

    // $("#datepicker").datepicker({
    //   date: "2013-01-01",
    //   format: "dddd, mmmm d, yyyy",
    //   effect: "none",
    //   position: "bottom",
    //   locale: 'fr',
    // });



})
</script>






